[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/elastic-receipt-token"]
	path = lib/elastic-receipt-token
	url = https://github.com/pmerkleplant/elastic-receipt-token
[submodule "lib/solrocket"]
	path = lib/solrocket
	url = https://github.com/byterocket/solrocket
